/*
 * This class ensures the logo container has a transparent background.
 * It is used to override any default styling from parent components.
 */
.transparent-bg {
  background-color: transparent !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  align-items: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  line-height: inherit;
}

*, ::before, ::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

*, ::before, ::after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
}
.logo {
  max-height: 40px;
  object-fit: contain;
}
